main {
    max-width: 840px;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

nav {
    margin-bottom: 1rem;
    background-color: #444;
    text-align: center;
    padding: 0.5rem 0;
}

h1{
    color: steelblue;
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 1rem;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;

}
aside {
    max-width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color: #eee; 
    color: #333;
    text-align: center;

}
aside img {
    width: 200px;
    height: auto;
    margin: auto;
    border: 1px;
    padding: 1px;
    box-shadow: 1px;

}
main img {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
    border: 1px;
    padding: 1px;
    box-shadow: 1px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid;
    text-align: center;

}


    
    
